<%- include('../layouts/main') %>
<div class="jumbotron">
    <h1 class="display-4">Welcome to WIMB</h1>
    <p class="lead">Share and discover great content.</p>
    <hr class="my-4" />
    <p>Join our community and explore a world of inspiration!</p>
    <a class="btn btn-primary btn-lg" href="/post" role="button">View Posts</a>
  </div>